@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


    <ul class="nav navbar-nav navbar-right">

     
        <li>
            @Html.ActionLink("Usuario " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a class="dropdown-item" width="100%" href="/dashboardadmin/">DashBoard</a>
                <br />
                <a class="dropdown-item" width="100%" href="/DashboardAdmin/bitacora"> Bitacora</a>
                <br />
                <a class="dropdown-item" width="100%" href="/DashboardAdmin/Calculadora">Calculadora</a>

                <br />
                <a class="dropdown-item" width="100%" href="/Account/Register">Registrar</a>
                <br />
                <a class="dropdown-item" width="100%" href="/DashboardAdmin/AdminRoles">AdminRoles</a>

                <br />
                <a class="dropdown-item" width="100%" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
        </li>


    </ul>

    }
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Acceder", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
